* {
  margin: 0;
}

body {
	background-color: #f5f6fa;
}

.custom__footer {
	height: 30px;
	align-items: center;
	text-align: center;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	margin-top: 10px;
}

.footer__owner {
	margin-top: 10px;
}

.app__dropdown {
	background-color: white;
	border-radius: 8px;
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.vaccine__box {
	padding: 1rem;
	border-radius: 8px;
	margin-top: 16px;
	box-shadow: 0 0 8px -4px rgba(0,0,0,0.5);
}

.vaccine__box__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.vaccine__box__header__showall {
	padding: 1rem;
	border-radius: 8px;
	margin-top: 16px;
	box-shadow: 0 0 8px -4px rgba(0,0,0,0.5);
	cursor: pointer;
}

.app__header__title {
	align-items: center;
	display: inline-flex;
}

.app__left {
	flex: 0.95;
	margin-right: 400px;
}

.app__right {
	margin-right: 0px;
	right: 0px;
	margin-left: 100px;
	/*flex-direction: column;*/
	height: 100vh;
	position: fixed;
}

.app__right .MuiCardContent-root {
	flex-direction: column;
	display: flex;
	flex-grow: 1;
}

.app__graphTitle {
	margin-top: 20px;
	margin-bottom: 20px
}

.app__stats {
	display: flex;
	justify-content: space-between;
}

.app__graph {
	flex-grow: 1;
}

.app {
	display: flex;
	justify-content: flex-end;
}

.description__header__titles_description2__sponsors,
.description__header__titles_description2__institutions,
.description__header__titles_description1__candidates,
.description__header__titles_description1__phase,
.description__details,
h1,
h2,
h3,
h4,
h5,
.header {
	font-family: Arial, Helvetica, sans-serif
}

@media (max-width: 990px) {
	.app {
		flex-direction: column;
	}

	.app__header {
	  flex-direction: column;
	}

	.app__dropdown {
		width: 97%;
	}

	.app__left {
		margin-right: 0px;
	}

	.app__right {
		margin-top: 10px;
		margin-left: 0;
		display: flex;
		position: static;
	}
}