.table {
	margin-top: 20px;
	overflow: scroll;
	height: 350px;
}

.table tr {
	display: flex;
	justify-content: space-between;
}

.table td {
	padding: 0.5rem;
	display: flex;
	align-items: center;
}

.flag-name {
	margin-left: 5px;
}

.flag-img {
	border-radius: 8px;
	height: 15px;
	width: 25px;
}

.table tr:nth-of-type(even) {
	background-color: #f3f2f8
}